:root{
  --notif-color:#054D44;
  --app-color:#075E54;
  --chat-color:#FAFAFA;
  --icon-color:#83AFAA;
  --text-color:#737373;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 720px;
  margin: auto;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
}
.notif{
  background-color: var(--notif-color);
  color: white;
  text-align: right;
  height: 2em;
}
header{
  background-color: var(--app-color);
  color: white;
}
nav{
  display: flex;
  flex-direction: row;
}
.titulo{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
li{
  display: inline-block;
}
.chat{
  display: grid;
  grid-template-columns: 9em 1fr 1fr;
}
.chat > *{
  justify-items: stretch;
  align-items: center;
}
.texto, .hora{
  display: grid;
  margin: 0;
}
.hora{
  justify-items: center;
}
.texto p, .hora p{
  font-size: 1.5em;
  margin: 0;
}
.iconos{
  font-size: 2em;
  color: gray;
}
figure{
  margin: 1em;
}
.foto img{
  width: 5em;
  border-radius: 50%;
  margin: auto;

}
p{

}
