:root{
  --notif-color:#054D44;
  --app-color:#075E54;
  --chat-color:#FAFAFA;
  --icon-color:#83AFAA;
  --text-color:#737373;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 720px;
  margin: auto;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
}
.notif{
  background-color: var(--notif-color);
  color: white;
  text-align: right;
  height: 2em;
}
header{
  background-color: var(--app-color);
  color: white;
}
nav{
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
nav li.is-active {
  box-shadow: inset 0px -6px 0px white;
}
.titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
.titulo i{
  padding: 0.5em;
}
ul{
  display: grid;
  grid-template-columns: 5em repeat(3, 1fr);
  margin: 0;
  padding: 0;
  text-align: center;
}
li{
  display: inline-block;
  font-size: 1.5em;
  padding: 0 1em;
}
.active{
  margin-bottom: 2px solid white;
}
.chat{
  display: grid;
  grid-template-columns: 9em 1fr 1fr;
}
.chat > *{
  align-items: center;
}
.texto, .hora{
  display: grid;
  margin: 0;
}
.hora{
	justify-items: flex-end;
	color: gray;
	padding-right: 4em;
}
.texto p, .hora p{
  font-size: 1.5em;
  margin: 0;
}
.iconos{
  font-size: 2em;
}
figure{
  margin: 1em;
}
.foto img{
  width: 5em;
  border-radius: 50%;
  margin: auto;

}
p{

}
